<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- IIS经典模式 -->
    <httpHandlers>
      <add path="api/*" type="JDCloud.JDHandler" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" />
    </httpHandlers>
  </system.web>

  <!--system.webServer>
    <handlers>
      <add name="JDCloud.JDHandler" path="api/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="JDCloud.JDHandler" />
    </handlers>
  </system.webServer-->

  <appSettings>
  </appSettings>

  <connectionStrings>
    <add name="default" connectionString="filedsn=D:/project2/jdcloud-cs/WebApplication1/db.dsn" />
    <!--add name="default" connectionString="DRIVER=MySQL ODBC 5.3 Unicode Driver; PORT=3306; DATABASE=<mydb>; SERVER=<myserver>; UID=<uid>; PWD=<pwd>; CHARSET=UTF8;" /-->
  </connectionStrings>
</configuration>
